<h1>Friends</h1>

<div id="friends">
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Twitter</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td>
          <% display_name = "#{friend.first_name} #{friend.last_name}" %>
          <% display_name = display_name.length > 50 ? "#{display_name[0,46]}..." : display_name %>
          <%= link_to display_name, friend_path(friend) %>
        </td>
        <td> <%= friend.phone_number %> </td>
        <td> <%= friend.email %> </td>
        <td> <%= friend.twitter %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New friend", new_friend_path, class:"btn btn-primary" %>
